<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>http://192.168.111.204:8080/TankOfFire_0_5364.ipa</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://p2.sinaimg.cn/1899413137/180/07151322055935</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://p2.sinaimg.cn/1899413137/180/07151322055935</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.TankOfFire.ios.kkkwan</string>  
                <key>bundle-version</key>  
                <string>1.0</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>subtitle</key>  
                <string>子标题</string>  
                <key>title</key>  
                <string>开炮吧坦克</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist> 
